$base-color:#f9f9f9;
$color-maroon:#630303;
$color-white:#fff;
$color-black:#000;
$color-blue:#191970;
$color-gray:#140a0a62;
$color-gray-2:#b19f9f4d;
$color-blue-light:#5e5ec0;


$font-size:1.5rem;
$align-center:center;
$no-decoration:none;
$uppercase:uppercase;
$transition-4s:all .4s;
$margin-auto:0 auto ;
$padding-2rem:2rem;